.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);}

.logoAnav {
    width: 80px;
}
.text-white{
    font-weight: 400;
}
.parrafo{
    width: 70vw;
    text-align: center;
}
.tituloCard {
    font-weight: bold;
    font-size: 1rem;
}
.parrafoCard{
    font-weight: 100;
}
.institucionalP{
    text-align: justify
}
.bg-image {
    background-position-y: 100%
}